header{
    width: 90vw !important;
    margin: auto;
    padding: 1vw !important;
}
.navigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    padding: 2vh 2vw !important;
    border-radius: 50px;
    background-color: #ffffff !important;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);;
}
.navbar-brand{
    font-family: "  ";
    font-weight: 500 !important;
    font-size: 24px;
    color: $default;
}
.navbar-collapse{
    justify-content: center;
}
.navbar-nav{
    gap: 2vw !important;
    width: 30vw;
}
.navbar-nav > a{
    font-weight: 500 !important;
    font-size: 1rem !important;
    color: $default;
}
.navbar-nav >a:focus{
    color: $orange;
}
.navbar-nav>a:hover{
    color: $orange;
}
.social-nav{
    display: flex;
    align-items: center;
    gap: 1vw;
    color: rgba(0, 0, 0, 0.515);
}
.social-nav>svg:hover{
    color: $orange;
}

@media (max-width:450px) {
    .navigation{
        width: 40%;
        flex-direction: row-reverse;
        gap: 2vw;
    }
    nav{
        
        padding: 0vh 3vw !important;
    }

}