.hero-secion {
    height: 90vh;

}

.hero-secion>img {
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.left>h1 {
    font-family: "questrial" !important;
    font-weight: 600;
    font-size: 56px;
    color: $heading;
}

.left>p {
    font-family: "roboto";
    font-size: 1.25rem;
    color: mix(#0a0f14, transparent);
    font-weight: 300;
}

.dbl-btn>a {
    font-family: "roboto";
    font-size: 1rem;
    padding: 2vh 2vw;
    border-radius: 50px;
    font-weight: 600;

}

.dbl-btn>a:first-child {
    color: white;
    background-color: $orange;
}

.dbl-btn>a:last-child {
    color: $orange;
    border: 1px $orange solid;
}

.dbl-btn>a:hover:nth-child(2) {
    background-color: $orange !important;
    color: white;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stats-item>span:first-child {
    font-family: "roboto";
    font-weight: 700;
    font-size: 40px;
    color: $heading;
}

.stats-item>span:last-child {
    font-family: "roboto";
    font-size: 1rem;
    color: $heading;
    font-weight: 400;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9FB;
    padding: 4vw;
    gap: 1vw;
}

.about>h2 {
    font-size: 42px;
    font-weight: 700;
    color: #7F503B;
    font-family: "roboto";
}

.about>p {
    width: 40%;
    text-align: center;
    padding: 20px;
}

.title-line {
    width: 200px;
    height: 20px;
    margin: auto;
    color: $orange;
    opacity: 0.5;
}

.about-sec>img {
    width: 50%;
    border-radius: 15px;
}

.about-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.about-info>span {
    color: $orange;
    font-size: 14px;
    font-weight: 600;
    font-family: "roboto";
}

.about-info>h2 {
    font-family: "roboto";
    font-weight: 700;
    font-size: 32px;
    color: $heading;
}

.about-info>p:nth-child(3) {
    font-size: 1.1rem;
    margin-bottom: 1vw;
    font-weight: 300 !important;
}

.about-info>p:nth-child(4) {
    font-weight: 500 !important;
}

.info-personel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
    padding: 2vw;
    background-color: #ffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-info>span:nth-child(1) {
    font-size: 0.875rem;
    font-family: "roboto";
    font-weight: 300;
}

.item-info>span:nth-child(2) {
    font-family: "roboto";
    font-weight: 600;
}

.signatur>div>h4 {
    font-size: 1.25rem;
    color: $heading;
}

.signatur>div>p {
    font-weight: 300;
}

.skils {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 4vw 0vw;
    padding-bottom: 10vh;
}

.skil-box {
    flex-grow: 4;
    flex-basis: 20vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.skil-box>h3 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "roboto";
}

.skil-box>p:nth-child(3) {
    text-align: end;
    font-weight: 600;
    margin-top: 20px;
}

.skil-box>div {
    width: 100%;
}

.skil-box>div>progress {
    width: 100%;
}
progress{
    background-color: transparent;
    height: 8px;
}
progress::-webkit-progress-bar {
    background-color: #e8753244 !important; /* Background color */
    border-radius: 10px;
}
progress::-webkit-progress-value {
    background-color: $orange; /* Progress color */
    border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: #007bff; /* Progress color */
    border-radius: 10px;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 1vw;
}
.portfolio>h2 {
    font-size: 42px;
    font-weight: 700;
    color: #7F503B;
    font-family: "roboto";
}

.portfolio>p {
    width: 40% ;
    text-align: center;
    padding: 20px;
}


// tabs


.tabs {
    overflow: hidden;
    text-align: center;
    padding: 2vh;

}

.tabs input {
    display: none;
}

.tabs label {
    display: inline-block;
    width: calc(80% / 5);
    padding: 15px;
    cursor: pointer;
    background: #ddd;
    font-weight: bold;
    transition: 0.3s;
}

.tabs input:checked + label {
    background: #007bff;
    color: white;
}

.content {
    display: none;
    padding: 20px;
}

#tab1:checked ~ #content2 ,
#tab1:checked ~ #content3,
#tab1:checked ~ #content4,
#tab1:checked ~ #content5,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}
.porfolio-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: start;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.porfolio-card > img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.porfolio-card >div{
    padding: 1vw;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.porfolio-card >div> span{
    color: $orange;
    font-size: 14px;
    font-weight: 500;
    font-family: "roboto";
}
.porfolio-card >div> h3{
    font-size: 20px;
    font-weight: 600px;
    font-family: "roboto";
    color: $heading;
}

.porfolio-card >div> p{
    font-family: "roboto";
    font-size: 15px;
    font-weight: 300;
}
