body{
    background-color: #FAF9FB;
}
.hero-secion {
    height: 90vh;

}

.hero-secion>img {
    width: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.left>h1 {
    font-family: "questrial" !important;
    font-weight: 600;
    font-size: 56px;
    color: $heading;
}

.left>p {
    font-family: "roboto";
    font-size: 1.25rem;
    color: mix(#0a0f14, transparent);
    font-weight: 300;
}

.dbl-btn>a {
    font-family: "roboto";
    font-size: 1rem;
    padding: 2vh 2vw;
    border-radius: 50px;
    font-weight: 600;

}

.dbl-btn>a:first-child {
    color: white;
    background-color: $orange;
}

.dbl-btn>a:last-child {
    color: $orange;
    border: 1px $orange solid;
}

.dbl-btn>a:hover:nth-child(2) {
    background-color: $orange !important;
    color: white;
}

.stats-item {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.stats-item>span:first-child {
    font-family: "roboto";
    font-weight: 700;
    font-size: 40px;
    color: $heading;
}

.stats-item>span:last-child {
    font-family: "roboto";
    font-size: 1rem;
    color: $heading;
    font-weight: 400;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF9FB;
    padding: 4vw;
    gap: 1vw;
}

.about>h2 {
    font-size: 42px;
    font-weight: 700;
    color: #7F503B;
    font-family: "roboto";
}

.about>p {
    width: 40%;
    text-align: center;
    padding: 20px;
}

.title-line {
    width: 200px;
    height: 20px;
    margin: auto;
    color: $orange;
    opacity: 0.5;
}

.about-sec>img {
    width: 50%;
    border-radius: 15px;
}

.about-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.about-info>span {
    color: $orange;
    font-size: 14px;
    font-weight: 600;
    font-family: "roboto";
}

.about-info>h2 {
    font-family: "roboto";
    font-weight: 700;
    font-size: 32px;
    color: $heading;
}

.about-info>p:nth-child(3) {
    font-size: 1.1rem;
    margin-bottom: 1vw;
    font-weight: 300 !important;
}

.about-info>p:nth-child(4) {
    font-weight: 500 !important;
}

.info-personel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;
    padding: 2vw;
    background-color: #ffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-info>span:nth-child(1) {
    font-size: 0.875rem;
    font-family: "roboto";
    font-weight: 300;
}

.item-info>span:nth-child(2) {
    font-family: "roboto";
    font-weight: 600;
}

.signatur>div>h4 {
    font-size: 1.25rem;
    color: $heading;
}

.signatur>div>p {
    font-weight: 300;
}

.skils {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 4vw 0vw;
    padding-bottom: 10vh;
}

.skil-box {
    flex-grow: 4;
    flex-basis: 20vw;
    padding: 2vw;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

.skil-box>h3 {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "roboto";
}

.skil-box>p:nth-child(3) {
    text-align: end;
    font-weight: 600;
    margin-top: 20px;
}

.skil-box>div {
    width: 100%;
}

.skil-box>div>progress {
    width: 100%;
}
progress{
    background-color: transparent;
    height: 8px;
}
progress::-webkit-progress-bar {
    background-color: #e8753244 !important; /* Background color */
    border-radius: 10px;
}
progress::-webkit-progress-value {
    background-color: $orange; /* Progress color */
    border-radius: 10px;
}
progress::-moz-progress-bar {
    background-color: #007bff; /* Progress color */
    border-radius: 10px;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    gap: 1vh;
}
.portfolio>h2 {
    font-size: 42px;
    font-weight: 700;
    color: #7F503B;
    font-family: "roboto";
}

.portfolio>p {
    width: 60% ;
    text-align: center;
    padding: 20px;
}


// tabs


.tabs {
    overflow: hidden;
    text-align: center;
    padding: 2vh;

}

.tabs > input {
    display: none;
}

.tabs > label {
    display: inline-block;
    width: calc(50% / 5);
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.tabs > input:checked + label {
    background-color: $orange;
    color: white;
    border-radius: 50px;
}

.content {
    display: none;
    padding: 20px;
}

#tab1:checked ~ #content2 ,
#tab1:checked ~ #content3,
#tab1:checked ~ div > #content4,
#tab1:checked ~ div > #content5,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ div > #content4,
#tab5:checked ~ div > #content5 {
    display: block;
}
#tab4:checked ~ div > #content4,
#tab5:checked ~ div > #content5{
    width: 50%;
}
.porfolio-card{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: start;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.porfolio-card > img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.porfolio-card >div{
    padding: 1vw;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.porfolio-card >div> span{
    color: $orange;
    font-size: 14px;
    font-weight: 500;
    font-family: "roboto";
}
.porfolio-card >div> h3{
    font-size: 20px;
    font-weight: 600px;
    font-family: "roboto";
    color: $heading;
}

.porfolio-card >div> p{
    font-family: "roboto";
    font-size: 15px;
    font-weight: 300;
}

// tabs end

// testemonial
.testemonial{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.avis{
    padding: 3vw;
}
.carousel-item{
    padding: 2vw;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.testemonial > div{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1vh;
}

.testemonial > img{
    width: 30%;
    border-radius: 10px;
}

.infos-testmonial{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.infos-testmonial > img{
    width: 3vw;
    border-radius: 50%;
}



.carousel-icons{
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    position: absolute;
    height: 3vw;
    align-self: center;
    border-radius: 50%;
    top: 105%;
    left: 50% !important;
    right: 50%;
}
.carousel-icons > button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $orange;
}


// end testemonials

// services
.service-title{
    width: 70vw;
}
.service-title > h2{
    font-family: "roboto";
    font-weight: 700;
    font-size: 32px;
    color: #0f2943;
}
.service-title > a{
    border: 1px solid $orange;
    border-radius: 50px;
    padding: 1vh 2vw;
    color: $orange;
}

.service-title > a:hover{
    background-color: $orange;
    color: #ffffff;
}
.service-item{
    background-color: #ffffff;
    width: 25vw;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.service-item > i{
    font-size: 2.5rem;
    color: $orange;
}
.service-item > h3{
    font-size: 1.25rem;
    font-family: "roboto";
    font-weight: 400 !important;
}

// end services

// accordion
.accordion{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.accordion-item{
    padding: 0;
    border-radius: 10px;
}
.accordion-body{
    background-color: #e875321b;
    border-radius: 0 0 10px 10px;
}
.accordion-header > button{
    box-shadow: none  !important;
}

.accordion-button:not(.collapsed){
    background-color:  #e875321b;
    color: $orange;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
}

.contact>h6{
    font-family: "roboto";
    font-weight: 600;
    font-size: 0.9rem;
}
.contact>h2{
    font-family: "roboto";
    color: $heading;
    font-weight: 700;
    line-height: 1.2;
    font-size: 3rem;
}

.infos-contact{
    display: flex;
    align-items: center;
    gap: 5px;
}
.infos-contact > i{
    font-size: 1.4rem;
    color: $orange;
}

.contact >a{
    text-decoration: none;
    color: $heading;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 10px;
    font-family: "questrial";
}
.contact >a:hover{
    color: $orange;
}

form{
    width: 50%;
    padding: 3rem;
    background-color: #ffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
    border-radius: 10px;
}

form > input , form > textarea{
    width: 100%;
    padding: 1.5vh;
    border-radius: 8px;
    border: #e5e5e5 1px solid;
}
form > input:focus , form > textarea:focus{

    border-color: color-mix(in srgb, $orange, transparent 50%);
    box-shadow: 0 0 0 0.25rem color-mix(in srgb, $orange, transparent 90%);
    outline: none;
}

form > button {
    width: 100%;
    padding: 1vh;
    background-color: $orange;
    border-radius: 10px;
    border: none;
    color: #ffffff;
}


footer{
display: flex;
flex-direction: column;
align-items: center;
padding: 3vw;
gap: 1vh;
}

.social-links{
    display: flex;
    align-items: center;
    gap: 1vw ;
}

.social-links > i{
    font-size: 1rem;
    color: #0a0f145a;
    border: 1px #0a0f145a solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > p > span{
    color: $orange;
    font-weight: 700;
}
